@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    font-family: var(--font-open_sans);
} */

::-webkit-scrollbar {
    width: 15px;
}


::-webkit-scrollbar-thumb {
    background: #343A40;
    border-radius: 10px;
}